<script type="text/javascript">
    LABKEY.requiresClientAPI(function() {
        Ext.namespace('demoNamespace'); //define namespace with some 'name'
        demoNamespace.myModule = function(){ //creates a property 'myModule' of the namespace object
            return {
                init : function()
                {
                    var chartConfig = {
                        queryName: 'People',
                        schemaName: 'lists',
                        chartType: LABKEY.Chart.XY,
                        columnXName: 'Key',
                        columnYName: ['Age'],
                        renderTo: 'testDiv'
                    };
                    var chart = new LABKEY.Chart(chartConfig);
                    chart.render();
                }
            }
        }();

        // Since the above code has already executed, we can access the init method immediately:
        Ext.onReady(demoNamespace.myModule.init, demoNamespace.myModule, true);
    });
</script>
<div id="testDiv"></div>