<div id="testDiv"></div>

<script type="text/javascript">
    var beginTest = function(){
        var coffeeData = [
            {"person":"Alan","time":"9:30","consumedCoffee":"No Coffee","efficiency":65},{"person":"Alan","time":"10:00","consumedCoffee":"Coffee","efficiency":85},
            {"person":"Alan","time":"10:30","consumedCoffee":"No Coffee","efficiency":82},{"person":"Alan","time":"11:00","consumedCoffee":"No Coffee","efficiency":83},
            {"person":"Alan","time":"11:30","consumedCoffee":"No Coffee","efficiency":78},{"person":"Alan","time":"12:00","consumedCoffee":"No Coffee","efficiency":72},
            {"person":"Alan","time":"12:30","consumedCoffee":"No Coffee","efficiency":69},{"person":"Alan","time":"1:00","consumedCoffee":"No Coffee","efficiency":62},
            {"person":"Alan","time":"1:30","consumedCoffee":"Coffee","efficiency":88},{"person":"Alan","time":"2:00","consumedCoffee":"No Coffee","efficiency":85},
            {"person":"Alan","time":"2:30","consumedCoffee":"No Coffee","efficiency":82},{"person":"Alan","time":"3:00","consumedCoffee":"No Coffee","efficiency":84},
            {"person":"Alan","time":"3:30","consumedCoffee":"No Coffee","efficiency":79},{"person":"Alan","time":"4:00","consumedCoffee":"No Coffee","efficiency":78},
            {"person":"Alan","time":"4:30","consumedCoffee":"No Coffee","efficiency":null},{"person":"Alan","time":"5:00","consumedCoffee":"No Coffee","efficiency":76},
            {"person":"Josh","time":"9:30","consumedCoffee":"No Coffee","efficiency":300},{"person":"Josh","time":"10:00","consumedCoffee":"No Coffee","efficiency":300},
            {"person":"Josh","time":"10:30","consumedCoffee":"No Coffee","efficiency":300},{"person":"Josh","time":"11:00","consumedCoffee":"No Coffee","efficiency":299},
            {"person":"Josh","time":"11:30","consumedCoffee":"No Coffee","efficiency":297},{"person":"Josh","time":"12:00","consumedCoffee":"No Coffee","efficiency":300},
            {"person":"Josh","time":"12:30","consumedCoffee":"No Coffee","efficiency":300},{"person":"Josh","time":"1:00","consumedCoffee":"No Coffee","efficiency":296},
            {"person":"Josh","time":"1:30","consumedCoffee":"No Coffee","efficiency":300},{"person":"Josh","time":"2:00","consumedCoffee":"No Coffee","efficiency":300},
            {"person":"Josh","time":"2:30","consumedCoffee":"No Coffee","efficiency":298},{"person":"Josh","time":"3:00","consumedCoffee":"No Coffee","efficiency":295},
            {"person":"Josh","time":"3:30","consumedCoffee":"No Coffee","efficiency":294},{"person":"Josh","time":"4:00","consumedCoffee":"No Coffee","efficiency":295},
            {"person":"Josh","time":"4:30","consumedCoffee":"No Coffee","efficiency":297},{"person":"Josh","time":"5:00","consumedCoffee":"No Coffee","efficiency":296}
        ];

        var leveyJenningsData = [
            {xaxislabel: 'test1', colorlabel: 'ABC123', value: 64000, mean: 63500, stddev: 2000},
            {xaxislabel: 'test1', colorlabel: 'ABC123', value: 63879, mean: 63500, stddev: 2000},
            {xaxislabel: 'test3', colorlabel: 'ABC123', value: 64598, mean: 63500, stddev: 2000},
            {xaxislabel: 'test4', colorlabel: 'ABC123', value: 63485, mean: 63500, stddev: 2000},
            {xaxislabel: 'test5', colorlabel: 'ABC123', value: 65787, mean: 63500, stddev: 2000},
            {xaxislabel: 'test6', colorlabel: 'ABC123', value: 64896, mean: 63500, stddev: 2000},
            {xaxislabel: 'test7', colorlabel: 'DEF456', value: 63121, mean: 64000, stddev: 1000},
            {xaxislabel: 'test8', colorlabel: 'DEF456', value: 63558, mean: 64000, stddev: 1000},
            {xaxislabel: 'test9', colorlabel: 'GHI789', value: 64879, mean: 63500, stddev: 1500},
            {xaxislabel: 'test10', colorlabel: 'GHI789', value: 65541, mean: 63500, stddev: 1500},
            {xaxislabel: 'test11', colorlabel: 'GHI789', value: 64000, mean: 63500, stddev: 1500},
            {xaxislabel: 'test12', colorlabel: 'GHI789', value: 63879, mean: 63500, stddev: 1500},
            {xaxislabel: 'test13', colorlabel: 'GHI789', value: 64598, mean: 63500, stddev: 1500},
            {xaxislabel: 'test14', colorlabel: 'GHI789', value: 63485, mean: 63500, stddev: 1500},
            {xaxislabel: 'test15', colorlabel: 'GHI789', value: 65787, mean: 63500, stddev: 1500},
            {xaxislabel: 'test16', colorlabel: 'GHI789', value: 64896, mean: 63500, stddev: 1500},
            {xaxislabel: 'test17', colorlabel: 'GHI789', value: 63121, mean: 63500, stddev: 1500},
            {xaxislabel: 'test18', colorlabel: 'GHI789', value: 63558, mean: 63500, stddev: 1500},
            {xaxislabel: 'test19', colorlabel: 'GHI789', value: 64879, mean: 63500, stddev: 1500},
            {xaxislabel: 'test20', colorlabel: 'GHI789', value: 65541, mean: 63500, stddev: 1500},
            {xaxislabel: 'test21', colorlabel: 'GHI789', value: 64000, mean: 63500, stddev: 1500},
            {xaxislabel: 'test22', colorlabel: 'GHI789', value: 63879, mean: 63500, stddev: 1500},
            {xaxislabel: 'test23', colorlabel: 'GHI789', value: 64598, mean: 63500, stddev: 1500},
            {xaxislabel: 'test24', colorlabel: 'GHI789', value: 63485, mean: 63500, stddev: 1500},
            {xaxislabel: 'test25', colorlabel: 'GHI789', value: 65787, mean: 63500, stddev: 1500},
            {xaxislabel: 'test26', colorlabel: 'GHI789', value: 64896, mean: 63500, stddev: 1500},
            {xaxislabel: 'test27', colorlabel: 'GHI789', value: 63121, mean: 63500, stddev: 1500},
            {xaxislabel: 'test28', colorlabel: 'JKL000', value: null, mean: 60000, stddev: 600},
            {xaxislabel: 'test29', colorlabel: 'JKL000', value: 64879, mean: 60000, stddev: 600},
            {xaxislabel: 'test29', colorlabel: 'JKL000', value: 65541, mean: 60000, stddev: null}
        ];

        var survivalData = [
            {group: 'All Patients', time: 1, percent: 1.0},
            {group: 'All Patients', time: 7, percent: 0.91},
            {group: 'All Patients', time: 8, percent: 0.91},
            {group: 'All Patients', time: 20, percent: 0.8},
            {group: 'All Patients', time: 26, percent: 0.8},
            {group: 'All Patients', time: 30, percent: 0.72},
            {group: 'All Patients', time: 33, percent: 0.4},
            {group: 'All Patients', time: 43, percent: 0.35},
            {group: 'All Patients', time: 48, percent: 0.2},
            {group: 'All Patients', time: 65, percent: 0.2},
            {group: 'All Patients', time: 100, percent: 0.05},
            {group: 'Filtered Patients', time: 1, percent: 1.0},
            {group: 'Filtered Patients', time: 15, percent: 0.83},
            {group: 'Filtered Patients', time: 16, percent: 0.7},
            {group: 'Filtered Patients', time: 60, percent: 0.7},
            {group: 'Filtered Patients', time: 75, percent: 0.1}
        ];

        var survivalCensorData = [
            {group: 'All Patients', time: 8, percent: 0.91},
            {group: 'All Patients', time: 20, percent: 0.8},
            {group: 'All Patients', time: 24, percent: 0.8},
            {group: 'All Patients', time: 30, percent: 0.72},
            {group: 'All Patients', time: 48, percent: 0.2},
            {group: 'All Patients', time: 55, percent: 0.2},
            {group: 'Filtered Patients', time: 16, percent: 0.7},
            {group: 'Filtered Patients', time: 58, percent: 0.7},
            {group: 'Filtered Patients', time: 75, percent: 0.1}
        ];

        var pieChartData = [];
        for (var i = 0; i < 10; i++) {
            pieChartData.push({label: 'group ' + i, value: parseInt(Math.random()*(100))});
        }


        //Div for charts to render to.
        Ext4.DomHelper.insertAfter('testDiv', {tag: 'div', id:'chartArea'});
        var plot = null;

        var loadConfig = function(config){
            if(plot != null){
                plot.clearGrid();
                Ext4.get('chartArea').update('');
            }

            switch (config.wrapper) {
                case 'bar':
                    plot = LABKEY.vis.BarPlot(config);
                    plot.render();
                    break;
                case 'pie':
                    plot = LABKEY.vis.PieChart(config);
                    break;
                case 'leveyjennings':
                    plot = LABKEY.vis.LeveyJenningsPlot(config);
                    plot.render();
                    break;
                case 'survival':
                    plot = LABKEY.vis.SurvivalCurvePlot(config);
                    plot.render();
                    break;
                default:
                    console.error("Unknown plot wrapper provided!");
            }
        };

        var configs = [
            {
                renderTo: 'chartArea',
                rendererType: 'd3',
                wrapper: 'bar',
                width: 600,
                height: 300,
                labels: {
                    main: {value: 'Barplot With Cumulative Totals'},
                    yLeft: {value: 'Count'},
                    x: {value: 'Value'}
                },
                options: {
                    color: 'maroon',
                    fill: 'maroon',
                    showCumulativeTotals: true
                },
                xAes: function(row){return row['consumedCoffee']},
                data: coffeeData
            }, {
                renderTo: 'chartArea',
                rendererType: 'd3',
                wrapper: 'leveyjennings',
                data: leveyJenningsData,
                properties: {
                    value: 'value',
                    mean: 'mean',
                    stdDev: 'stddev',
                    xTickLabel: 'xaxislabel',
                    showTrendLine: true,
                    color: 'colorlabel'
                },
                gridLineColor: 'white',
                labels: {
                    main: {value: 'Levey-Jennings Plot'}
                },
                width: 800,
                height: 300
            }, {
                renderTo: 'chartArea',
                rendererType: 'd3',
                wrapper: 'survival',
                data: survivalData,
                censorData: survivalCensorData,
                groupBy: 'group',
                aes: {x: 'time', yLeft: 'percent'},
                labels: {
                    main: {value: 'Survival Curve Plot'}
                },
                scales: {
                    shape: {
                        scaleType: 'discrete',
                        range: [LABKEY.vis.Scale.DataspaceShape()[1]]
                    }
                },
                width: 800,
                height: 300
            }, {
                renderTo: 'chartArea',
                wrapper: 'pie',
                data: pieChartData,
                width: 600,
                height: 300,
                header: {
                    title: {
                        text: 'Base Pie Chart'
                    }
                },
                effects: {
                    load: {
                        effect: 'none'
                    }
                }
            }
        ];


        var nextButton = Ext4.create('Ext.button.Button', {
            text: 'Next',
            width: 75,
            margin: '0 0 0 10',
            handler: function(){
                if(testNumberField.getValue() == configs.length){
                    // No more tests to load.
                } else {
                    testNumberField.setValue(testNumberField.getValue() + 1);
                    loadConfig(configs[testNumberField.getValue()-1]);
                }
            },
            scope: this
        });

        var testNumberField = Ext4.create('Ext.form.field.Number', {
            fieldLabel: 'Current Config',
            width: 150,
            hideTrigger: true,
            value: 1
        });

        var totalNumberField = Ext4.create('Ext.form.field.Number', {
            fieldLabel: 'of',
            inputId: 'configCount',
            labelWidth: 25,
            margin: '0 0 0 10',
            width: 75,
            hideTrigger: true,
            value: configs.length
        });

        Ext4.create('Ext.panel.Panel', {
            renderTo: 'testDiv',
            layout: 'hbox',
            border: false,
            frame: false,
            width: 400,
            height: 100,
            items: [
                testNumberField,
                totalNumberField,
                nextButton
            ],
            listeners: {
                afterrender: function(){
                    loadConfig(configs[testNumberField.getValue()-1]);
                },
                scope: this
            }
        });
    };

    Ext4.onReady(beginTest);
</script>
