<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="TestProp1">
            <canSetPerContainer>false</canSetPerContainer>
        </propertyDescriptor>
        <propertyDescriptor name="TestProp2">
            <canSetPerContainer>true</canSetPerContainer>
            <defaultValue>DefaultValue</defaultValue>
            <editPermissions>
                <permission>UPDATE</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="TestCheckbox">
            <inputType>checkbox</inputType>
        </propertyDescriptor>
        <propertyDescriptor name="TestSelect">
            <inputType>select</inputType>
            <options>
                <option display="display1" value="value1"/>
                <option display="display2" value="value2"/>
            </options>
        </propertyDescriptor>
        <propertyDescriptor name="TestCombo">
            <inputType>combo</inputType>
            <options>
                <option display="comboDisplay1" value="comboValue1"/>
                <option display="comboDisplay2" value="comboValue2"/>
            </options>
        </propertyDescriptor>
    </properties>
    <clientDependencies>
        <dependency path="/simpletest/testfile.js" />
    </clientDependencies>
    <requiredModuleContext>
        <requiredModule name="Core" />
    </requiredModuleContext>
</module>