<!DOCTYPE html>
<html>
<head>
    <title>Test script nonce in Knitr HTML</title>
</head>
<body>

<span>Nonce check: <span id="nonce-check-result">FAIL</span></span>

<script>
    document.getElementById('nonce-check-result').innerText = "SUCCESS";
</script>

</body>
</html>