* text=auto !eol
/build.xml -text
cruisecontrol/bin/instsrv.exe -text
cruisecontrol/bin/srvany.exe -text
cruisecontrol/config/lklinux01.xml -text
cruisecontrol/config/lklinux02.xml -text
cruisecontrol/config/lkwin01.xml -text
cruisecontrol/config/lkwin02.xml -text
cruisecontrol/cruisecontrol-config.xml -text
cruisecontrol/css/cruisecontrol.css -text
cruisecontrol/install_steps.txt -text
cruisecontrol/jsp/controlpanel.jsp -text
cruisecontrol/jsp/index.jsp -text
cruisecontrol/wrapper.bat -text
cruisecontrol/xsl/buildresults.xsl -text
cruisecontrol/xsl/changelists/header.xsl -text
cruisecontrol/xsl/checkstyle-details.xsl -text
cruisecontrol/xsl/checkstyle.xsl -text
cruisecontrol/xsl/compile.xsl -text
cruisecontrol/xsl/distributables.xsl -text
cruisecontrol/xsl/errors.xsl -text
cruisecontrol/xsl/errors.xsl.new -text
cruisecontrol/xsl/errors.xsl.orig -text
cruisecontrol/xsl/header.xsl -text
cruisecontrol/xsl/javadoc.xsl -text
cruisecontrol/xsl/logfile.xsl -text
cruisecontrol/xsl/macker.xsl -text
cruisecontrol/xsl/maven.xsl -text
cruisecontrol/xsl/modifications.xsl -text
cruisecontrol/xsl/nant.xsl -text
cruisecontrol/xsl/pmd-details.xsl -text
cruisecontrol/xsl/pmd.xsl -text
cruisecontrol/xsl/testdetails.xsl -text
cruisecontrol/xsl/unittests.xsl -text
/resetDRT.cmd -text
src/org/labkey/test/BaseFlowTest.java -text
src/org/labkey/test/BaseSeleniumWebTest.java -text
src/org/labkey/test/Cleanable.java -text
src/org/labkey/test/Locator.java -text
src/org/labkey/test/Runner.java -text
src/org/labkey/test/SortDirection.java -text
src/org/labkey/test/TestConfig.java -text
src/org/labkey/test/TestSet.java -text
src/org/labkey/test/WebTest.java -text
src/org/labkey/test/WebTestHelper.java -text
src/org/labkey/test/bvt/AbstractAssayTest.java -text
src/org/labkey/test/bvt/AssayTest.java -text
src/org/labkey/test/bvt/AuditLogTest.java -text
src/org/labkey/test/bvt/CaBigTest.java -text
src/org/labkey/test/bvt/ClientAPITest.java -text
src/org/labkey/test/bvt/DataRegionTest.java -text
src/org/labkey/test/bvt/FileContentTest.java -text
src/org/labkey/test/bvt/FlowJoQueryTest.java -text
src/org/labkey/test/bvt/HTTPApiTest.java -text
src/org/labkey/test/bvt/IssuesBvtTest.java -text
src/org/labkey/test/bvt/ListTest.java -text
src/org/labkey/test/bvt/LuminexTest.java -text
src/org/labkey/test/bvt/MS1Bvt.java -text
src/org/labkey/test/bvt/MS2BvtTest.java -text
src/org/labkey/test/bvt/MessagesBvtTest.java -text
src/org/labkey/test/bvt/MicroarrayTest.java -text
src/org/labkey/test/bvt/MouseTest.java -text
src/org/labkey/test/bvt/SampleSetTest.java -text
src/org/labkey/test/bvt/SpecimenTest.java -text
src/org/labkey/test/bvt/StudyBvtTest.java -text
src/org/labkey/test/bvt/StudyExtraTest.java -text
src/org/labkey/test/bvt/UserBvtTest.java -text
src/org/labkey/test/bvt/UserPermissionsTest.java -text
src/org/labkey/test/bvt/WikiBvtTest.java -text
src/org/labkey/test/daily/UniprotAnnotationTest.java -text
src/org/labkey/test/drt/BasicTest.java -text
src/org/labkey/test/drt/ExpTest.java -text
src/org/labkey/test/drt/FlowTest.java -text
src/org/labkey/test/drt/IssuesTest.java -text
src/org/labkey/test/drt/JUnitTest.java -text
src/org/labkey/test/drt/MessagesTest.java -text
src/org/labkey/test/drt/NabTest.java -text
src/org/labkey/test/drt/SecurityTest.java -text
src/org/labkey/test/drt/StudyTest.java -text
src/org/labkey/test/drt/WikiTest.java -text
src/org/labkey/test/drt/XTandemTest.java -text
src/org/labkey/test/module/ModuleTest.java -text
src/org/labkey/test/ms2/AbstractMS2SearchEngineTest.java -text
src/org/labkey/test/ms2/MS2ClusterTest.java -text
src/org/labkey/test/ms2/MS2TestBase.java -text
src/org/labkey/test/ms2/MascotTest.java -text
src/org/labkey/test/ms2/SequestTest.java -text
src/org/labkey/test/ms2/cluster/MS2QuantParams.java -text
src/org/labkey/test/ms2/cluster/MS2QuantRatio.java -text
src/org/labkey/test/ms2/cluster/MS2ScoringParams.java -text
src/org/labkey/test/ms2/cluster/MS2TestParams.java -text
src/org/labkey/test/ms2/cluster/MS2TestsBase.java -text
src/org/labkey/test/ms2/cluster/MS2TestsBaseline.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20051201__2_9_9.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20051201__2_9_9a.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070101__2_9_9.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070101__3_0_2.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070101__3_0_2a.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070701__3_0_2.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070701__3_4_0.java -text
src/org/labkey/test/ms2/cluster/MS2Tests_20070701__3_4_1.java -text
src/org/labkey/test/seleniumHelpers.js -text
src/org/labkey/test/testpicker/CheckNode.java -text
src/org/labkey/test/testpicker/CheckRenderer.java -text
src/org/labkey/test/testpicker/TestHelper.java -text
src/org/labkey/test/util/Crawler.java -text
src/org/labkey/test/util/DataRegionTable.java -text
src/org/labkey/test/util/Echo.java -text
src/org/labkey/test/util/ListHelper.java -text
src/org/labkey/test/util/PasswordUtil.java -text
src/org/labkey/test/util/ProteinRegionTable.java -text
src/org/labkey/test/util/StopSelenium.java -text
