{
  "servers": [
    {
      "key": "CAS",
      "host": "https://cas.labkey.test/cas",
      "logins": [
        {
          "username": "user",
          "password": "pass",
          "email": "test@labkey.test"
        }
      ]
    },
    {
      "key": "REDCap",
      "host": "https://redcap.labkey.test/api/",
      "apiKeys": [
        {
          "name": "Longitudinal",
          "token": "1234567890ABCDEFGHIJKLMNOPQRSTUV"
        },
        {
          "name": "Demographics",
          "token": "ABCDEFGHIJKLMNOPQRSTUV1234567890"
        }
      ]
    },
    {
      "key": "Scrumwise",
      "host": "https://api.scrumwise.com/service/api/v1/getData",
      "apiKeys": [
        {
          "name": "test@labkey.com",
          "token": "ABCDEFGHIJKLMNOPQQQQQQQQ"
        }
      ]
    },
    {
      "key": "GoogleOOO",
      "host": "https://www.googleapis.com/auth/calendar.readonly",
      "logins": [
        {
          "email": "abcdefgh12345@developer.gserviceaccount.com",
          "password": "abcdefghijk.p12"
        }
      ]
    }
  ]
}