{
  "servers": [
    {
      "key": "CAS",
      "host": "https://cas.labkey.test/cas",
      "logins": [
        {
          "username": "user",
          "password": "pass",
          "email": "test@labkey.test"
        }
      ]
    },
    {
      "key": "REDCap",
      "host": "https://redcap.labkey.test/api/",
      "apiKeys": [
        {
          "name": "Longitudinal",
          "token": "1234567890ABCDEFGHIJKLMNOPQRSTUV"
        },
        {
          "name": "Demographics",
          "token": "ABCDEFGHIJKLMNOPQRSTUV1234567890"
        }
      ]
    }
  ]
}