<?xml version="1.0" encoding="UTF-8"?>
<etl xmlns="http://labkey.org/etl/xml">
    <name>Append Test</name>
    <description>append rows from etl_source to etl_target and etl_target2</description>
    <transforms>
        <transform type="org.labkey.di.pipeline.TransformTask">
            <description>Copy to target</description>
            <source schemaName="vehicle" queryName="etl_source" />
            <destination schemaName="vehicle" queryName="etl_target" />
        </transform>
        <transform type="org.labkey.di.pipeline.TransformTask">
            <description>Copy to target two</description>
            <source schemaName="vehicle" queryName="etl_source" />
            <destination schemaName="vehicle" queryName="etl_target2" />
        </transform>
    </transforms>
    <schedule><poll updateTimeColumn="none" createTimeColumn="none2"></poll></schedule>
</etl>
