<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="TestProp1">
            <canSetPerContainer>false</canSetPerContainer>
        </propertyDescriptor>
        <propertyDescriptor name="TestProp2">
            <canSetPerContainer>true</canSetPerContainer>
            <defaultValue>DefaultValue</defaultValue>
            <editPermissions>
                <permission>UPDATE</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
    <requiredModuleContext>
        <requiredModule name="Core" />
    </requiredModuleContext>
    <enableOptions requireSitePermission="true"/>
    <clientDependencies>
        <dependency path="Ext3"/>
    </clientDependencies>
</module>