<div id='divForm'>
</div>
<p></p>
<div id='divOutput'>
</div>
<div id='divOutput1'>
</div>
<div id='divOutput2'>
</div>

<script type="text/javascript">
    function preparePage()
    {
        document.getElementById('divOutput').innerHTML = "";
        document.getElementById('divOutput1').innerHTML = "";
        document.getElementById('divOutput2').innerHTML = "";
        maskGraph.show();
    }

    function renderFinal(htmlOut)
    {
        document.getElementById('divOutput').innerHTML = htmlOut;

    }

    function renderImage(type, title, image)
    {
        var htmlOut = "<table class=\"labkey-output\"> ";
        htmlOut += renderTitle(type, title);
        htmlOut += "<tr style=\"display:none\"><td>";
        htmlOut += "<img id=\"resultImage\" src=\"";
        htmlOut += image;
        htmlOut += "\"></td></tr></table>";
        return htmlOut;
    }

    var _reportSessionRow = 0;
    function renderReportSessionListHeader()
    {
        _reportSessionRow = 0;
        var htmlOut = "<table class=\"labkey-data-region labkey-show-borders\">";
        htmlOut += "<tr><td class=\"labkey-column-header\">Session Id</td>";
        htmlOut += "<td class=\"labkey-column-header\">In Use</td>";
        htmlOut += "<td class=\"labkey-column-header\">Client Context</td>";
        htmlOut += "</tr>";
        return htmlOut;
    }

    function renderReportSessionListFooter()
    {
       return "</table>";
    }

    function renderReportSession(reportSession)
    {
        var htmlOut = "";
        if (1 == _reportSessionRow%2)
            htmlOut += "<tr class=\"labkey-alternate-row\">";
        else
            htmlOut += "<tr class=\"labkey-row\">";

        htmlOut += "<td>" + reportSession.reportSessionId + "</td>";
        htmlOut += "<td>" + reportSession.inUse + "</td>";
        htmlOut += "<td>" + reportSession.clientContext + "</td>";

        _reportSessionRow++;
        return htmlOut;
    }

    function renderText(type, title, text)
    {
        var htmlOut = "<table class=\"labkey-output\"> ";
        htmlOut += renderTitle(type, title);
        htmlOut += "<tr style=\"display:none\"><td><pre>";
        htmlOut += text;
        htmlOut += "<pre></td></tr></table>";
        return htmlOut;
    }

    function renderDownload(type, title, text)
    {
        var htmlOut = "<table class=\"labkey-output\"> ";
        htmlOut += renderTitle(type, title);
        htmlOut += "<tr style=\"display:none\"><td>";
        if (text)
        {
            htmlOut += "<a href=\"" + text + "\">";
            htmlOut += "output file (click to download)</a>";
        }
        htmlOut += "</td></tr></table>";
        return htmlOut;
    }

    function renderTitle(type, title)
    {
        var htmlOut = "<tr class=\"labkey-wp-header\"><th colspan=2 align=left>";
        htmlOut +="   <a href=\"#\" onclick=\"return LABKEY.Utils.toggleLink(this, false);\">";
        htmlOut +="   <img src=\"";
        htmlOut += LABKEY.contextPath + "/_images/";
        htmlOut += "plus.gif \"></a>&nbsp;";
        if (type)
            htmlOut += type + ": ";
        htmlOut += title;
        htmlOut += "</th></tr>";
        return htmlOut;
    }

    // Mask for the plot
    var maskGraph = new Ext4.LoadMask('divForm', {
        msg: "Generating the graphics, please, wait..."
    });

    // mask for session management
    var maskCreateSession = new Ext4.LoadMask('divForm', {
        msg: "Creating the session, please wait ..."
    });

    var maskDeleteSession = new Ext4.LoadMask('divForm', {
        msg: "Deleting the session, please wait ..."
    });

    var maskGetSessions = new Ext4.LoadMask('divForm', {
        msg: "Retrieing existing sessions, please wait ..."
    });

    function onFailure(errorInfo, responseObj, options){
        maskGraph.hide();
        var htmlOut = renderText(null, "error", errorInfo.exceptionClass + ': ' + errorInfo.exception);
        renderFinal(htmlOut);
    };

    function onCreateSessionSuccess(responseObj) {
        maskCreateSession.hide();
        getSessions();
    }

    function onDeleteSessionSuccess(responseObj) {
        maskDeleteSession.hide();
        getSessions();
    }

    function getSessions()
    {
        preparePage();
        maskGetSessions.show();
        LABKEY.Report.getSessions({
            success : onGetSessionsSuccess
        });
    }

    function onGetSessionsSuccess(responseObj) {
        maskGetSessions.hide();
        var htmlOut = "";
        var sessions = responseObj.reportSessions;

        htmlOut = renderReportSessionListHeader();
        for (i = 0; i < sessions.length; i++)
        {
            htmlOut += renderReportSession(sessions[i]);
        }
        htmlOut += renderReportSessionListFooter();

        renderFinal(htmlOut);
    }

    function onSuccess(responseObj){
        maskGraph.hide();
        if (!responseObj)
            return;

        var consoles = responseObj.console;
        var errors = responseObj.errors;
        var outputParams = responseObj.outputParams;
        var htmlOut = "";
        var i;
        var param;

        for (i = 0; i < consoles.length; i++)
            htmlOut += renderText(null, "console", consoles[i]);

        for (i = 0; i < errors.length; i++)
            htmlOut += renderText(null, "error", errors[i]);

        for (i = 0; i < outputParams.length; i++)
        {
            param = outputParams[i];
            if (param.type == 'image')
            {
                htmlOut += renderImage(param.type, param.name, param.value);
            }
            else if (param.type == 'text' ||
                    param.type == 'html' ||
                    param.type == 'tsv')
            {
                htmlOut += renderText(param.type, param.name, param.value);
            }
            else if (param.type == 'json')
            {
                htmlOut += renderText(param.type, param.name, JSON.stringify(param.value, null, '\t'));
            }
            else if (param.type == 'file' ||
                    param.type == 'pdf' ||
                    param.type == 'postscript')
            {
                htmlOut += renderDownload(param.type, param.name, param.value);
            }
            else
            {
                htmlOut += renderText("BUG", "bug", "unknown output parameter type!");
            }
        }

        renderFinal(htmlOut);
    };

    LABKEY.requiresExt4Sandbox(function(){
        Ext4.onReady(function(){
            //
            // setup to execute the report as a script
            //
            var scriptParams = {
                param1 : 'This is my parameter 1 value',
                param2 : 42
            };

            var scriptConfig = {
                success: onSuccess,
                failure: onFailure,
                inputParams: scriptParams
            };

            //
            // setup to execute the report as a webpart
            //
            var webpartReportConfig = {
                title: 'webpart result'

            };
            webpartReportConfig.param1 = scriptParams.param1;
            webpartReportConfig.param2 = scriptParams.param2;

            var webpartReport1 = new LABKEY.WebPart({
                failure: onFailure,
                success: onSuccess,
                frame: 'none',
                partConfig: webpartReportConfig,
                partName: 'Report',
                renderTo: 'divOutput1'
            });

            var webpartReport2 = new LABKEY.WebPart({
                failure: onFailure,
                success: onSuccess,
                frame: 'none',
                partConfig: webpartReportConfig,
                partName: 'Report',
                renderTo: 'divOutput2'
            });


            //
            // setup our input form
            //
            var textField = Ext4.create('Ext.form.field.Text', {
                name: "script",
                fieldLabel: "script name",
                allowBlank: false
            });

            var sessionField = Ext4.create('Ext.form.field.Text', {
                name: "session",
                fieldLabel: "report session",
                allowBlank: true
            });

            Ext4.create('Ext.form.Panel', {
                renderTo: 'divForm',
                //width: 800,
                //layout: 'anchor',
                title:  'Scriptpad',
                defaults: {
                    margin: '5 0 5 5'
                },
                items: [ textField, sessionField ],
                buttons: [{
                    text: 'Execute as Script',
                    handler: function() {
                        preparePage();
                        scriptConfig.reportId = 'module:/scriptpad/' + textField.value;
                        scriptConfig.reportSessionId = sessionField.value;
                        LABKEY.Report.execute(scriptConfig);
                    }},
                    {
                        text: 'Execute as Webpart',
                        handler: function() {
                            preparePage();
                            webpartReportConfig.reportId = 'module:/scriptpad/' + textField.value;
                            webpartReportConfig.reportSessionId = sessionField.value;
                            webpartReport1.render();
//                       webpartReport2.render();
                    }},
                    {
                        text: 'Execute as Function',
                        handler: function() {
                            preparePage();
                            scriptConfig.functionName = textField.value;
                            scriptConfig.reportSessionId = sessionField.value;
                            startTime = new Date();
                            LABKEY.Report.executeFunction(scriptConfig);
                    }},
                    {
                        text: 'Create Report Session',
                        handler: function() {
                            var myContext = "xyzAAA1";
                            maskCreateSession.show();
                            LABKEY.Report.createSession({
                                clientContext : myContext,
                                success : onCreateSessionSuccess
                            });
                        }},
                    {
                        text: 'Delete Report Session',
                        handler: function() {
                            maskDeleteSession.show();
                            LABKEY.Report.deleteSession({
                                success : onDeleteSessionSuccess,
                                reportSessionId : sessionField.value
                            });
                        }},
                    {
                        text: 'List Report Sessions',
                        handler: getSessions
                    }
                ]
            });
        });
    }, this);
</script>
