
<div id="mydiv"></div>

<script type="text/javascript">
  var s = "<table>";
  for (var i = 0; i < LABKEY.page.batch.runs.length; i++)
  {
    var run = LABKEY.page.batch.runs[i];
    s += "<tr>";
    s += "<td colspan=2 align=center><strong>Run:</strong> ";
    s += "<span id='RunName_" + i + "'>";
    s += "<a href='" + LABKEY.ActionURL.buildURL('assay', 'assayRunDetails', null, {rowId: LABKEY.page.batch.batchProtocolId, runId: run.id}) + "'>" + run.name + "</a>";
    s += "</span>";
    s += "</td>";
    s += "</tr>";
    for (var j = 0; j < run.dataRows.length; j++)
    {
      var row = run.dataRows[j];
      s += "<tr>";
      s += "<td class='labkey-form-label'><span id='SampleId_" + i + "_" + j + "'>" + row.SampleId + "</span></td>";
      s += "<td><span id='DoubleData_" + i + "_" + j + "'>" + row.DoubleData + "</span></td>";
      s += "</tr>";
    }
    s += "<tr></tr>";
  }
  s += "</table>";

  s += "<p>";
  s += "[<a href='" + LABKEY.ActionURL.buildURL('assay', 'moduleAssayUpload', null, {rowId: LABKEY.page.batch.batchProtocolId, batchId: LABKEY.page.batch.id }) + "'>upload more runs</a>]";

  var mydiv = document.getElementById("mydiv");
  mydiv.innerHTML = s;
</script>

