The client API should allow an array of rows targeting both the parent container and workbooks in a single request.  If the row manually provides 'container', and if this container is a workbook child of the
target folder, that should be respected.  The same is true for both updateRows and deleteRows.  Because lists and simple tables have slightly different codepaths, test both here.


<br><br>

<div id='testResultsDiv'></div><br>
<div id='containerPathDiv'></div><br>

<button id='pushme'>RunContainerPathTest</button>

<script type="text/javascript" nonce="<%=scriptNonce%>">
    LABKEY.Utils.onReady(function() {
        document.getElementById('pushme')['onclick'] = testContainerPath;
    })

    function testContainerPath() {
        var container = LABKEY.container;
        var folderContainerId = container.type === 'workbook' ? container.parentId : container.id;
        var workbook1;
        var workbook2;
        var workbooksTitle = 'API Test Workbook';
        var subfolder1 = 'this is a placeholder so we fail if the actual ID is not found';
        var subfolderName = 'API_Test_Folder';
        var workbook1Path;
        var workbook2Path;
        var subfolder1Path = 'this is a placeholder so we fail if the actual ID is not found';
        var listName = 'TestList';
        var successCount = 0;
        var errorCount = 0;

        var multiInsert = new LABKEY.MultiRequest();
        var multiSelect = new LABKEY.MultiRequest();
        var multiUpdate = new LABKEY.MultiRequest();
        var multiDelete = new LABKEY.MultiRequest();

        function failureCallback(errorInfo, response) {
            logError(errorInfo.exception);
            console.log(response);
        }

        function logError(description) {
            appendResult(description, "labkey-error");
            errorCount++;
        }

        function success(description) {
            appendResult(description);
            successCount++;
        }

        function appendResult(message, cls)
        {
            var resultDiv = document.createElement("div");
            if (cls)
                resultDiv.setAttribute("class", cls);
            resultDiv.appendChild(document.createTextNode(message));
            document.getElementById('testResultsDiv').appendChild(resultDiv);
        }

        var multi = new LABKEY.MultiRequest();
        multi.add(LABKEY.Security.createContainer, {
            containerPath: folderContainerId,
            title: workbooksTitle,
            description: 'Workbook created by JS API 1',
            isWorkbook: true,
            scope: this,
            failure: failureCallback,
            success: function (response) {
                success('Created workbook 1');
                workbook1 = response.id;
                workbook1Path = response.path;
            }
        });

        multi.add(LABKEY.Security.createContainer, {
            containerPath: folderContainerId,
            title: workbooksTitle,
            description: 'Workbook created by JS API 2',
            isWorkbook: true,
            scope: this,
            failure: failureCallback,
            success: function (response) {
                success('Created workbook 2');
                workbook2 = response.id;
                workbook2Path = response.path;
            }
        });

        multi.add(LABKEY.Security.createContainer, {
            containerPath: folderContainerId,
            name: subfolderName,
            title: 'API Test Folder',
            description: 'Folder created by JS API',
            isWorkbook: false,
            scope: this,
            failure: failureCallback,
            success: function (response) {
                success('Created subfolder: ' + subfolderName);
                subfolder1 = response.id;
                subfolder1Path = response.path;
            }
        });

        multi.add(LABKEY.Domain.create, {
            containerPath: folderContainerId,
            kind: 'IntList',
            domainDesign: {
                name: listName,
                description: 'integer key list',
                fields: [{
                    name: 'id', rangeURI: 'int'
                }, {
                    name: 'field1',
                    rangeURI: 'string'
                }, {
                    name: 'field2',
                    rangeURI: 'string'
                }]
            },
            options: {
                keyName: 'id'
            },
            failure: failureCallback,
            success: function (response) {
                success('Created domain: ' + listName);
            }
        });

        function cleanUp(done) {
            document.getElementById('containerPathDiv').innerHTML = '';

            var cleanupRequests = new LABKEY.MultiRequest();

            cleanupRequests.add(LABKEY.Domain.drop, {
                containerPath: folderContainerId,
                schemaName: 'lists',
                queryName: listName,
                success: function() {
                    success('Cleanup - Deleted list "' + listName + '"');
                },
                failure: function(err, response) {
                    if (err && err.exception && err.exception.indexOf('was not found') > 0) {
                        success('Cleanup - ' + err.exception);
                    } else {
                        failureCallback(err, response);
                    }
                }
            });

            LABKEY.Security.getContainers({
                containerPath: LABKEY.container.path,
                depth: 1,
                includeSubfolders: true,
                success: function(response) {
                    var pathsToDelete = [];

                    response.children.forEach(function(c) {
                        if (c.title === workbooksTitle) {
                            pathsToDelete.push(c.path);
                        } else if (c.name === subfolderName) {
                            pathsToDelete.push(c.path);
                        }
                    });

                    if (pathsToDelete.length > 0) {
                        pathsToDelete.forEach(function(path) {
                            cleanupRequests.add(LABKEY.Security.deleteContainer, {
                                containerPath: path,
                                success: function() {
                                    success('Cleanup - Deleted subfolder: ' + path);
                                },
                                failure: failureCallback
                            });
                        });
                    } else {
                        success('Cleanup - No subfolders need to be deleted.')
                    }

                    cleanupRequests.send(done, this);
                },
                failure: failureCallback,
            });
        }

        function getVerifySelect(response, pkField, expectedFieldName, containerField) {
            var pks = [];
            var expectedRows = response.rows.length;
            for (var i=0;i<response.rows.length;i++) {
                var r = response.rows[i];
                if (r[pkField]){
                    pks.push(r[pkField]);
                }
            }

            if (pks.length === 0){
                logError('ERROR: no PKs found');
            }

            return {
                containerPath: folderContainerId,
                schemaName: response.schemaName,
                queryName: response.queryName,
                scope: this,
                failure: failureCallback,
                filterArray: [LABKEY.Filter.create(pkField, pks.join(';'), LABKEY.Filter.Types.IN)],
                columns: expectedFieldName + ',' + containerField,
                success: function(results){
                    var pass = true;
                    if (results.rows.length !== expectedRows){
                        logError('Insufficient rows, found ' + results.rows.length + ', expected: ' + expectedRows);
                        pass = false;
                    }

                    for (var i=0;i<results.rows.length;i++){
                        var r = results.rows[i];
                        if (!r[containerField] || !r[expectedFieldName]){
                            logError('Unable to find expected or container fields: ' + r[containerField] + '/' + r[expectedFieldName]);
                            console.log(r);
                            pass = false;
                        }

                        if (r[containerField] !== r[expectedFieldName]){
                            logError('Row lacks correct container, expected ' + r[expectedFieldName] + ', but found ' + r[containerField]);
                            pass = false;
                        }
                    }

                    if (pass){
                        success('Inserted ' + results.rows.length + ' rows');
                        doTestUpdate(results, pks, pkField, containerField, expectedFieldName);
                    }
                }
            }
        }

        function doTestUpdate(response, pks, pkField, containerField, expectedFieldName){
            var rows = [];
            for (var i = 0; i < response.rows.length; i++) {
                var r = {};
                r[pkField] = pks[i];
                r[expectedFieldName] = 'updated';
                r[containerField] = response.rows[i][containerField];
                rows.push(r);
            }

            multiUpdate.add(LABKEY.Query.updateRows, {
                containerPath: folderContainerId,
                schemaName: response.schemaName,
                queryName: response.queryName,
                scope: this,
                failure: failureCallback,
                rows: rows,
                success: function (results) {
                    var pass = true;
                    if (results.rows.length !== pks.length){
                        logError('Insufficient rows, found ' + results.rows.length + ', expected: ' + pks.length);
                        pass = false;
                    }

                    for (var i = 0; i < results.rows.length; i++) {
                        var r = results.rows[i];
                        //on the returned rows, LK isn't consistent about field name case
                        var val = r[expectedFieldName] || r[expectedFieldName.toLowerCase()];
                        if ('updated' !== val) {
                            console.log(r);
                            logError('Row was not updated.  value was: ' + val);
                            pass = false;
                        }
                    }

                    if (pass) {
                        success('Updated ' + results.rowsAffected + ' rows');
                        doTestDelete(results, rows, pkField, containerField, expectedFieldName);
                    }
                }
            });
        }

        function doTestDelete(response, origRows, pkField, containerField, expectedFieldName){
            var rows = [];
            for (var i = 0; i < origRows.length; i++) {
                var r = {};
                r[pkField] = origRows[i][pkField];
                r[containerField] = origRows[i][containerField];
                rows.push(r);
            }

            multiDelete.add(LABKEY.Query.deleteRows, {
                containerPath: folderContainerId,
                schemaName: response.schemaName,
                queryName: response.queryName,
                scope: this,
                failure: failureCallback,
                rows: rows,
                success: function (results) {
                    if (results.rowsAffected !== origRows.length){
                        logError('Insufficient rows, found ' + results.rowsAffected + ', expected: ' + origRows.length);
                    }
                    else {
                        success('Deleted ' + results.rowsAffected + ' rows');
                    }
                }
            });
        }

        function doTests() {
            //this container value will not resolve, so the primary container will be used
            multiInsert.add(LABKEY.Query.insertRows, {
                containerPath: folderContainerId,
                schemaName: 'lists',
                queryName: listName,
                scope: this,
                rows: [{
                    field1: folderContainerId,
                    container: workbook1 + 'x'
                }],
                success: function (response) {
                    success('Insert using bogus non-GUID value for list');
                },
                failure: failureCallback
            });

            //expect failure because container isn't a child workbook
            multiInsert.add(LABKEY.Query.insertRows, {
                containerPath: folderContainerId,
                schemaName: 'lists',
                queryName: listName,
                scope: this,
                rows: [{
                    field1: subfolder1,
                    container: subfolder1
                }],
                failure: function (response) {
                    var expectedError = 'Row supplied container value: ' + subfolder1 + ' cannot be used for actions against the container: ' + container.path;
                    if (response.exception !== expectedError) {
                        logError('Incorrect error from cross-container insert:');
                        logError('Expected: "' + expectedError + '"');
                        logError('Actual: "' + response.exception + '"');
                    }
                    else {
                        success('Cross-container insert into non-workbook for list');
                    }
                },
                success: function (response) {
                    logError('ERROR: This should have failed because it is not from the correct container');
                }
            });

            //insert into list to exercise ListTable
            multiInsert.add(LABKEY.Query.insertRows, {
                containerPath: folderContainerId,
                schemaName: 'lists',
                queryName: listName,
                scope: this,
                failure: failureCallback,
                rows: [{
                    field1: folderContainerId,
                    container: null
                },{
                    field1: workbook1,
                    container: workbook1
                },{
                    field1: workbook2,
                    container: workbook2
                },{
                    field1: folderContainerId,
                    container: workbook1Path //this will silently got rejected
                },{
                    field1: folderContainerId,
                    container: workbook2Path //this will silently got rejected
                }],
                success: function (response) {
                    multiSelect.add(LABKEY.Query.selectRows, getVerifySelect(response, 'id', 'field1', 'container'))
                }
            });

            //repeat to exercise SimpleTable
            multiInsert.add(LABKEY.Query.insertRows, {
                containerPath: folderContainerId,
                schemaName: 'vehicle',
                queryName: 'EmissionTest',
                scope: this,
                failure: failureCallback,
                rows: [{
                    Name: folderContainerId,
                    container: null
                },{
                    Name: workbook1,
                    container: workbook1
                },{
                    Name: workbook2,
                    container: workbook2
                },{
                    Name: folderContainerId,
                    container: workbook1Path //this will silently got rejected
                },{
                    Name: folderContainerId,
                    container: workbook2Path //this will silently got rejected
                }],
                success: function (response) {
                    multiSelect.add(LABKEY.Query.selectRows, getVerifySelect(response, 'rowid', 'Name', 'Container'));
                }
            });

            //expect failure because container isn't a child workbook
            multiInsert.add(LABKEY.Query.insertRows, {
                containerPath: folderContainerId,
                schemaName: 'vehicle',
                queryName: 'EmissionTest',
                scope: this,
                rows: [{
                    field1: subfolder1,
                    container: subfolder1
                }],
                failure: function (response) {
                    var expectedError = 'Row supplied container value: ' + subfolder1 + ' cannot be used for actions against the container: ' + container.path;
                    if (response.exception !== expectedError) {
                        logError('Incorrect error from cross-container insert:');
                        logError('Expected: "' + expectedError + '"');
                        logError('Actual: "' + response.exception + '"');
                    }
                    else {
                        success('Cross-container insert into non-workbook for module-schema');
                    }
                },
                success: function (response) {
                    logError('ERROR: This should have failed because it is not from the correct container');
                }
            });

            multiInsert.send(function () {
                multiSelect.send(function(){
                    multiUpdate.send(function() {
                        multiDelete.send(function() {
                            document.getElementById('containerPathDiv').innerHTML = 'Workbook tests complete. passed: ' + successCount + ' errors: ' + errorCount;
                        }, this);
                    }, this);
                }, this);
            }, this);
        }

        cleanUp(function() {
            multi.send(doTests, this);
        });
    }
</script>
